&{
    --background-primary: rgb(34, 34, 34);
    --background-secondary: rgb(61, 61, 61);
    --background-secondary-alt: rgb(53, 55, 59);
    --text-color: rgb(231, 237, 245);
    --bold-bolder: rgb(68, 65, 65);
    --pre-scrollbar-track: rgb(219, 219, 230);
}